# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.python-version
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.DS_Store


# python binaries
*.pyc
bin/
/*/bin
.cache/

# virtual environment
venv

# vim swap files
*.swp

# IDEA:
.idea/*
**.iml
**.iml

# setup and build
**/build/
**/dist/

# VSCODE
.vscode

# IDEA - generated artifacts
**/out/

# Apple metadata
**/.DS_Store

# zip data files
/**.zip
data*
# output folder
output
out 
